<div mat-dialog-title class="block text-gray-700 text-sm font-bold mb-2 text-center pb-5"> {{title}}</div>

<div class="ed-container">
    <form class="ed-item ed-container inputsize">
        <mat-dialog-content [formGroup]="form">
            <div class="ed-item ed-container">

                <div class="ed-item s-100 m-50 l-50">
                    <mat-form-field  appearance="outline" class="inputheight">
                        <mat-label>Primer nombre</mat-label>
                        <input matInput formControlName="firstname">
                    </mat-form-field>
                </div>

                <div class="ed-item s-100 m-50 l-50">
                    <mat-form-field  appearance="outline" class="inputheight">
                        <mat-label>Segundo nombre</mat-label>
                        <input matInput formControlName="secondname">
                    </mat-form-field>
                </div>

                <div class="ed-item s-100 m-50 l-50">
                    <mat-form-field  appearance="outline" class="inputheight">
                        <mat-label>Tercer nombre</mat-label>
                        <input matInput formControlName="thirdname">
                    </mat-form-field>
                </div>

                <div class="ed-item s-100 m-50 l-50">
                    <mat-form-field  appearance="outline" class="inputheight">
                        <mat-label>Primer apellido</mat-label>
                        <input matInput formControlName="lastname">
                    </mat-form-field>
                </div>

                <div class="ed-item s-100 m-50 l-50">
                    <mat-form-field  appearance="outline" class="inputheight">
                        <mat-label>Segundo apellido</mat-label>
                        <input matInput formControlName="secondlastname">
                    </mat-form-field>
                </div>

            </div>
        </mat-dialog-content>

        <div class="ed-item ed-container">
            <div class="ed-item m-50 ed-container">
                <div class="ed-item s-50">
                    <div class="py-1 ">
                        <button class="mycustom-buttom-primary hover:bg-green-700 rounded-lg tamano"
                            (click)="save()">ENVIAR</button>
                    </div>
                </div>
                <div class="ed-item s-50">
                    <div class="py-1 ">
                        <button class="mycustom-button-warning hover:bg-red-700 rounded-lg tamano"
                            (click)="close()">CANCELAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>