<div mat-dialog-title class="block text-gray-700 text-sm font-bold mb-2 text-center pb-5"> {{title}}</div>

<div class="ed-container">
    <form class="ed-item ed-container inputsize justify-center">
        <mat-dialog-content [formGroup]="form">

            <div class="ed-item ed-container">
                
                <div class="ed-item s-100">
                    <span *ngIf="submitted && f.name.errors"
                        class="text-red-700 text-xs animated fadeIn">Ingrese este campo</span>
                    <mat-form-field appearance="outline" class="inputheight">
                        <mat-label>Nombre del lugar</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                </div>
                

                <div class="ed-item s-100 m-100 l-100">
                    <mat-form-field appearance="outline" class="inputheight">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" c dkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"
                            formControlName="description"></textarea>
                    </mat-form-field>
                </div>


            </div>
        </mat-dialog-content>

        <div class="ed-item ed-container justify-start">
            
                <div class="ed-item s-50">
                    <div class="py-1 ">
                        <button class="mycustom-buttom-primary hover:bg-green-700 rounded-lg tamano"
                            (click)="save()">GUARDAR</button>
                    </div>
                </div>
                <div class="ed-item s-50">
                    <div class="py-1 ">
                        <button class="mycustom-button-warning hover:bg-red-700 rounded-lg tamano"
                            (click)="close()">CANCELAR</button>
                    </div>
                </div>
            
        </div>
    </form>
</div>