<div mat-dialog-title class="block text-gray-700 text-sm font-bold mb-2 text-center pb-5"> {{title}}</div>

<div class="ed-container">
    <form class="ed-item ed-container inputsize">
        <mat-dialog-content [formGroup]="form">
            <div class="ed-item ed-container">

                <div class="ed-item s-100 m-100 l-100">
                    <span *ngIf="submitted && f.username.errors"
                        class="text-red-700 text-xs animated fadeIn">Ingrese el usuario</span>
                    <mat-form-field appearance="outline" class="inputheight">
                        <mat-label>Nombre de usuario</mat-label>
                        <input matInput formControlName="username"
                        [ngClass]="{'is-invalid':submitted && f.username.errors}">
                    </mat-form-field>

                </div>

                <div class="ed-item s-100 m-100 l-100">
                    <span *ngIf="submitted && f.password.errors"
                        class="text-red-700 text-xs animated fadeIn">Ingrese la contraseña</span>
                    <mat-form-field appearance="outline" class="inputheight">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="password"
                        [ngClass]="{'is-invalid':submitted && f.password.errors}">
                    </mat-form-field>
                    <span *ngIf="submitted && f.password.errors" class="text-blue-700"> </span>
                </div>

                <div class="ed-item s-100 m-100 l-100">
                    <span *ngIf="submitted && f.rol.errors"
                        class="text-red-700 text-xs animated fadeIn">Seleccione el rol</span>
                    <mat-form-field appearance="outline" class="example-full-width inputheight">
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="rol"
                        [ngClass]="{'is-invalid':submitted && f.rol.errors}">
                          <mat-option *ngFor="let option of rols" [value]="option.id_rol">
                            {{option.type_rol}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

            </div>
        </mat-dialog-content>

        <div class="ed-item ed-container">

            <div class="ed-item s-50">
                <div class="py-1 ">
                    <button class="mycustom-buttom-primary hover:bg-green-700 rounded-lg tamano"
                        (click)="save()">GUARDAR</button>
                </div>
            </div>
            <div class="ed-item s-50">
                <div class="py-1 ">
                    <button class="mycustom-button-warning hover:bg-red-700 rounded-lg tamano"
                        (click)="close()">CANCELAR</button>
                </div>
            </div>

        </div>
    </form>
</div>