.target {
    position: absolute;
    left: 5%;
    right: 5%;
    margin-top: 80px;
}

.inputsize{
    font-size: 12px !important;
}

.inputheight{
    width: 100% !important;
}

.inputheight1{
    width: 60% !important;
}

.my-form{
    width: 100%;
}

.full-width {
    width: 100% !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}


.tamano{
    width: 100%;
}

.neg-mt{
    margin-top: -14%;
}

.justi-center{
    padding-left: 12%;
    padding-right: 12%;

    padding-top: 4%;
    padding-bottom: 4%;
}