<app-navbar></app-navbar>

<div class="target animated fadeInLeft">
  <div class="flex h-screen justify-center items-center">
    <div class="max-w-sm rounded">
      
        <div class="w-full max-w-xs">
          
          <form class="bg-white shadow-2xl rounded px-8 pt-6 pb-8 mb-4"
                [formGroup]= "loginForm" (ngSubmit)="login()"
                autocomplete="on">
                
            <div class="block text-gray-700 text-sm font-bold mb-2 text-center pb-5">Login</div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-1" for="username">
                Username
              </label>
              <input
                class="input-gray focus:outline-none focus:border-blue-400"
                autocomplete="off"
                type="text" 
                formControlName = "username"
                name="username"
                required
                [ngClass]="{'is-invalid':submitted && f.username.errors}"
                placeholder="Username">
                <span class="text-blue-700"></span>
                <span *ngIf="submitted && f.username.errors"
                  class="text-red-700 text-xs animated fadeIn">Ingrese el usuario</span>
            </div>
          
            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
              </label>
              <input
                class="input-gray focus:outline-none focus:border-blue-600"
                type="password"
                formControlName = "password"
                name="password"
                required
                [ngClass]="{'is-invalid':submitted && f.password.errors}"
                placeholder="***************">
                <span class="text-blue-700"></span>
                <span *ngIf="submitted && f.password.errors"
                  class="text-red-700 text-xs animated fadeIn">Ingrese la contraseña</span>
            </div>
            

            <div class="flex items-center justify-between">
              <button
                class="bg-green-500 hover:bg-green-700  push push-focus"
                type="submit">
                Ingresar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>